/* modal styling */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

#modalBox {
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    flex-grow: 1;
}

.imageBox {
    flex-grow: 3;
    padding: 2px;
    align-content: center;
}

/* make the image take up the whole space, find a better way for this later...*/
.imageBox img {
    width: 100%;
}

#modalBox button {
    border: none;
    background-color: #2a2a2a;
    padding: 2px;
    color: #ccc;
    font-family: 'raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 1;
}