/* modal styling */

#modalBox {
    background-color: azure;
    display:flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    flex-grow: 1;
}

.imageBox {
    flex-grow: 3;
    padding: 2px;
    align-content: center;
}

/* make the image take up the whole space, find a better way for this later...*/
.imageBox img {
    width: 100%;
}